.Side_bar
  .Side_bar__left-header
    .Top-items
      .Top-items__user-name
        take
      .Top-items__icons
        = link_to "#", class: "Top-items__icon" do
          = icon('fas', 'edit')
        = link_to "#", class: "Top-items__icon" do
          = icon('fas', 'cog')

  .Side_bar__group-list
    .Group
      .Group__name
        techcamp
      .Group__top-message
        まだメッセージはありません。
    
    .Group
      .Group__name
        techcamp
      .Group__top-message
        まだメッセージはありません。
    
    .Group
      .Group__name
        techcamp
      .Group__top-message
        まだメッセージはありません。




